In [1]:
import pandas as pd
import numpy as np

In [41]:
df1 = pd.read_csv('problem1~2.csv')

In [36]:
df1.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

Q.1

- 데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,
- 'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후,
- 'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하기

In [52]:
df1 = df1.sort_values(by = 'f5', ascending= False)
df1.f5[:10] = min(df1.f5[:10])
df1[df1.age >= 80].f5.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

62.49774712521738

Q.2

- 데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,
- 'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고
- 두 표준편차 차이 계산하기

In [69]:
df = pd.read_csv('problem1~2.csv')
df = df[:int(df.shape[0]*0.7)]
df2 = df.copy()
df.f1 = df.f1.fillna(df.f1.median())
df.f1.std()
result = df2.f1.std() - df.f1.std()
print(result)

3.2965018033960725

Q.3

- 데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오!
- 단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [71]:
df = pd.read_csv('problem1~2.csv')
age_m = df.age.mean()
age_st = df.age.std()
df[(df.age > age_m + age_st*1.5) | (df.age < age_m - age_st*1.5)].age.sum()

473.5