In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

In [20]:
list(df.channelTitle.value_counts().head(10).keys())

['짤툰',
 '파뿌리',
 'SPOTV',
 '런닝맨 - 스브스 공식 채널',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 '장삐쭈',
 'BANGTANTV',
 '채널 십오야',
 '이과장',
 '총몇명']

논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [23]:
list(df[(df.likes < df.dislikes)].channelTitle.unique())

['핫도그TV',
 'ASMR 애정TV',
 '하얀트리HayanTree',
 '양팡 YangPang',
 '철구형 (CHULTUBE)',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 '육지담',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 '사나이 김기훈',
 '나혼자산다 STUDIO',
 'Gen.G esports']

채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [38]:
id_list = list(df.channelId.unique())
count = 0
for id in id_list:
  if len(df[df.channelId == id].channelTitle.unique()) > 1:
    count += 1
print(count)

71

일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [49]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df =df.loc[df['trending_date2'].dt.day_name()

SyntaxError: ignored

In [55]:
list(df[df['trending_date2'] == 'Sunday'].categoryId.value_counts().keys())[0]

24

댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [75]:
new_df = df.loc[df.view_count > 0, :]
new_df['view_rate'] = new_df['comment_count']/new_df['view_count']

60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [76]:
result = str(new_df.sort_values(by = 'view_rate').iloc[-1].title)
print(result)

60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [89]:
new_df2 = df.loc[(df.likes > 0) & (df.dislikes > 0), :]
new_df2['like_rate'] = new_df2.dislikes/ new_df2.likes
answer = new_df2.sort_values(by = 'like_rate')
answer.iloc[0].title

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [92]:
df.channelTitle.value_counts().index[0]

'짤툰'

20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [98]:
days_list = list(df.title.value_counts())
count = 0
for i in days_list:
  if (i >= 20):
    count += 1
print(count)

## 이렇게 되면 title이 같은 영상이 중복될 수 있다. 다른 채널의

41

In [99]:
answer= (df[['title','channelId']].value_counts()>=20).sum()
print(answer)

40